.login-crew {
  text-decoration: none;
  color: pink; }

.mask-wrapper {
  position: fixed;
  top: 0;
  background: rgba(36, 255, 4, 0.5);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: none; }
  .mask-wrapper .middle-wrapper {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 300px;
    height: 280px;
    background: white;
    overflow: hidden; }
    .mask-wrapper .middle-wrapper .entourage {
      position: absolute;
      width: 600px;
      height: 100%; }
      .mask-wrapper .middle-wrapper .entourage .ghetto {
        margin: 10px;
        width: 280px;
        height: 380px;
        float: left; }
        .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top {
          height: 56px;
          border-bottom: 1px solid slateblue; }
          .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top .x {
            width: 100%;
            height: 18px; }
            .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top .x .iconbaseline-close-px-copy {
              float: right;
              cursor: pointer; }
          .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top .y {
            width: 100%;
            height: 18px;
            margin: 10px 0; }
            .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top .y .text-login {
              text-decoration: none;
              color: black;
              float: left;
              border-bottom: 3px solid dimgrey; }
            .mask-wrapper .middle-wrapper .entourage .ghetto .middle-top .y .toggle-logup {
              text-decoration: none;
              color: deepskyblue;
              float: right; }
        .mask-wrapper .middle-wrapper .entourage .ghetto .middle-among .wrapper-among .text-blank {
          margin-top: 10px;
          width: 276px;
          height: 23px; }
        .mask-wrapper .middle-wrapper .entourage .ghetto .middle-among .wrapper-among .strictly {
          width: 280px;
          margin-top: 10px; }
        .mask-wrapper .middle-wrapper .entourage .ghetto .middle-among .wrapper-among .button-in {
          margin-top: 10px;
          height: 23px;
          width: 280px; }
      .mask-wrapper .middle-wrapper .entourage .richarea {
        float: left;
        width: 280px;
        height: 280px;
        margin: 10px; }
        .mask-wrapper .middle-wrapper .entourage .richarea .rich-top {
          width: 100%;
          height: 56px;
          border-bottom: 1px solid slateblue; }
          .mask-wrapper .middle-wrapper .entourage .richarea .rich-top .close {
            width: 100%;
            height: 18px; }
            .mask-wrapper .middle-wrapper .entourage .richarea .rich-top .close .iconbaseline-close-px-copy {
              float: right; }
          .mask-wrapper .middle-wrapper .entourage .richarea .rich-top .logup-box {
            width: 100%;
            height: 18px; }
            .mask-wrapper .middle-wrapper .entourage .richarea .rich-top .logup-box .please-logup {
              line-height: 18px;
              text-align: center;
              margin: 0;
              float: left;
              border-bottom: 3px solid dimgrey; }
            .mask-wrapper .middle-wrapper .entourage .richarea .rich-top .logup-box .toggle-login-rich {
              text-decoration: none;
              float: right;
              cursor: pointer;
              color: deepskyblue; }
        .mask-wrapper .middle-wrapper .entourage .richarea .rich-among {
          width: 100%;
          height: 100%; }
          .mask-wrapper .middle-wrapper .entourage .richarea .rich-among .input-tap2 .text-blank2 {
            width: 276px;
            height: 23px; }
          .mask-wrapper .middle-wrapper .entourage .richarea .rich-among .input-tap2 .btnn {
            width: 276px;
            height: 23px; }

.rich-top div {
  padding: 10px 0; }

.rich-top div:first-child {
  padding: 0; }

.rich-among div {
  padding-top: 10px; }

.rich-among .input-tap2 * {
  margin-bottom: 10px; }

/*# sourceMappingURL=test2.css.map */
