<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bg</title>
</head>
<script src="{% static "legend/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "legend/rebiuld.js" %}"></script>
<link rel="stylesheet" href="{% static 'legend/init.css' %}">
<link rel="stylesheet" href="{% static 'legend/improve.css' %}">
<link rel="stylesheet" href="/static/legend/improve.css">

<body style="background:#432F24">
<div class="content">
    <div class="wrapper">
        <div class="move-content">
            <text class="special" id="special_id">特别公告</text>
        </div>

        <ul class="switch">
            <li style="color:lavenderblush">【充值】元宝比例为1:300</li>
            <li style="color:salmon">【活动】全天不间断活动 激情不断</li>
            <li style="color:seagreen">【攻杀】开区第四天晚上八点后拿沙</li>
            <li style="color:fuchsia">【装备】RMB回收终极装备 长久耐玩</li>
            <li style="color:lightcyan">【客服】客服QQ：2947265803</li>
            <li style="color:skyblue">【QQ群】QQ群：317224293</li>
        </ul>
    </div>
</div>


</body>
</html>