.content{
    background-image:url("bg.jpg");
    top:0;
    left:-10px;
    width:310px;
    height:330px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.content .wrapper .move-content{
    width:270px;
    height:24px;
    overflow:hidden;
    position:relative;
    left:25px;
    top:8px;
}

.content .wrapper .move-content .special{
    position:absolute;
    color:red;
    font-size:18px;
    right:0;
}
.content .wrapper ul{
    list-style: none;
    margin-left:24px;
    margin-top:30px;
}

.content ul li{
    color:red;
    width:250px;
    font-size:15px;
    margin-bottom:10px;
    line-height: 32px;
    border-bottom: 0.3px solid chocolate;
}