@import "init.scss";
@import "constants.scss";

.header{
    width: 100%;
    height: $navHeight;
    background: #3a3a3a;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;

    .container{
        width: $pageWidth;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        .logo-box{
            width: 140px;
            height: 49px;
            background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1576159050378&di=4cf5145baabd4cd87a102db2881b249e&imgtype=0&src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20180211%2F00%2F1518281166-tSvPBQOKiy.jpg") no-repeat;
            margin-top: 8px;
            float: left;

            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .nav{
            margin-left: 128px;
            float: left;

            li{
                float: left;
                margin-right: 40px;
                line-height: $navHeight;
                height: $navHeight;
                box-sizing: border-box;
                a{
                    color: #fff;
                }

                &.active{
                    border-bottom: 5px solid #5c87d9;
                }
            }
        }

        .auth-box{
            float: right;
            line-height: $navHeight;
            height: $navHeight;
            color: #fff;
            .auth-box-li{
                float:left;
            }
            .iconfont{
                color: #fff;
                font-size: 20px;
            }

            a{
                color: #fff;
            }
            .auth-more-box{
                position:absolute;
                z-index:101;
                top:60px;
                padding:10px;
                line-height:30px;
                background:white;
                border-radius:5px;
                box-shadow:0 3px 5px #ccc;
                .group-triangel{
                    position:absolute;
                    top:-20px;
                    left:2px;
                    .triangle{
                        color: #fff;
                        border:10px transparent;
                        font-size: 20px;
                        position:absolute;
                    }
                }
                a{
                    color:blue;
                }
            }
        }
    }
}