<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创世火龙让你体验前所未有的玩法</title>
<title></title>
<link type="text/css" rel="stylesheet" href="css/css.css" />
<script type="text/javascript" language="javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" language="javascript" src="js/base.js"></script>
    <link rel="stylesheet" href="linkstyle/remake.css">
</head>

<body>
<script>var CopyRightcss = "css/cptop.css";</script>
<script src="js/CopyTop.js" charset="utf-8"></script>
<div id="Version" >

<div id="Flash">
<object width="100%" height="100%" codebase="/download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
 <param value="flash/banner.swf"  name="movie">
 <param value="transparent"  name="wmode">
<param value="true"  name="loop">
<param value="high"  name="quality">
<embed width="100%" height="100%" pluginspage="/www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" swliveconnect="FALSE" quality="high" wmode="transparent" loop="true" src="flash/banner.swf"></embed>
</object>    
</div>
<!-- Flash结束 -->

<div id="Header">
<img src="images/bg_01.jpg" width="1920">
<img src="images/bg_02.jpg" width="1920">
<img src="images/bg_03.jpg" width="1920">
<img src="images/bg_04.jpg" width="1920">
<img src="images/bg_05.jpg" width="1920">
<img src="images/bg_06.jpg" width="1920"></div>

</div>
<!--Version end-->







<!--按钮-->
<div class="bnContent">
    	<div class="top">
            <div class="nav">
                <div class="nav_b2 k1">
                 	<a href="#"   title="游戏介绍">
                    	<span>首页</span>
                        <em>REGISTER</em>
                    </a>
                </div>
                
                <div class="nav_b2">
                	<a id="p1" title="装备介绍">
                    	<span >装备介绍</span>
                        <em>REGISTER</em>
                    </a>
                </div>
                
                <div class="nav_b3">
                	<a href="记忆火龙V2.rar" target="_blank" title="登入器下载"></a>
                </div>
                
                <div class="nav_b2 k2">
                	<a href="补丁.rar" target="_blank" title="补丁下载">
                    	<span>补丁下载</span>
                        <em>DOWNLOAD</em>
                    </a>
                </div>
                
                <div class="nav_b2">
                	<a href="cz.htm" target="_blank" title="在线充值">
                    	<span>在线充值</span>
                        <em>REGISTER</em>
                    </a>
                </div>
                
            </div>
        </div>
</div>
<!--按钮-->


<!--m1-->
<div class="m1">
<div class="m1_div">
<div class="temp1">

<a href="javascript:showMovie();" class="btn_showmovie"><img src="images/img13.jpg" height="345" width="280" class="mt10" /></a></div>

<div class="temp1t">
<iframe src="jieshao.html" width="880" height="360" frameborder="0" scrolling="no" style="padding:0px 0px 0px 0px; margin-top:0px;"></iframe>
 </div> 

</div>

</div>



<!--m1 end-->


<!--m2-->
<div class="m2">
<div class="m2_div">
  <div class="temp1y">
    <iframe src="banner.html" width="1170" height="380" frameborder="0" scrolling="no" ></iframe>
  </div>
</div>
<!--m2 end-->




			
<!--m3-->
<div class="m3">




<div class="clear"></div>


<!--一行二张图  图片宽度568px 高度自适应-->
    <div class="m3_div" id="abc">
        <div class="m3_zb">
            <div class="m3_zb_3 "><img src="http://z0222.vd5566.top:42700/zb/sz.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/fs.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/tz.gif"/></div>
            <div class="m3_zb_3 "><img src="http://z0222.vd5566.top:42700/zb/lt.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/ly.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/gm.gif"/></div>
            <div class="m3_zb_3 "><img src="http://z0222.vd5566.top:42700/zb/zs.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/sm.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/zh.gif"/></div>
            <div class="m3_zb_3 "><img src="http://z0222.vd5566.top:42700/zb/hl1.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/hl1.gif"/></div>
            <div class="m3_zb_3 ml10"><img src="http://z0222.vd5566.top:42700/zb/hl1.gif"/></div>

        </div>
    </div>


    <div class="clear"></div>



<!--m4-->
<div class="m4"></div>
<!--m4 end-->


    
     
     <div class="showdiv" id="showDiv">
        <a href="javascript:hideMovie();" title="关闭" class=" btn_close">关闭</a>
        <div id="swfContent"></div>
    </div>


	<div id="onlineKefu">
		<a href="记忆火龙V2.rar" class="btn_kefu" target="_blank" title="登录器下载">登录器下载</a>
		<a href="javascript:void(0)" onClick="$('html,body').animate({scrollTop: '0px'}, 500);return false;window.scrollTo(0,0);return false;"  class="btn_top" target="_blank" title="返回顶部">top</a>
		<div class="erweima">
                <div class="downimg"><a href="cz.htm" target="_blank"><img src="images/erweima.jpg"  /></a></div>
		<span>兄弟携手 不服来战</span></div>
	</div>
	<!-- onlineKefu结束 -->




<!--/s 底部 -->
<script>var CopyRightcss = "css/black.css";</script>
<script src="js/cqCopyRight.js" charset="gb2312"></script>
<!--/e 底部-->


<script type="text/javascript" src="js/milo.js"></script>
<script>

    LoginManager.checkLogin(function(){
        $E("#login_qq_span").innerHTML = LoginManager.getUserUin();// 
		amsInit(3704, 24255);  
    });
	
    function showMovie() {
        document.getElementById("swfContent").innerHTML = "<object width=\"825\" height=\"444\" id=\"_playerswf\" classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" codeBase=\"/fpdownload.macromedia.com/get/flashplayer/current/swflash.cab#version=10,0,0,0\" >" +
            "<param name=\"movie\" value=\"flash/TencentPlayer.swfawr&amp;autoplay=1&amp;outhost=XXXXXXXXXX&amp;skin=flash/TencentPlayerMiniSkin.swf\" />" +
            "<param name=\"wmode\" value=\"opaque\" />" +
            "<param name=\"quality\" value=\"High\" />" +
            "<param name=\"allowScriptAccess\" value=\"always\" />" +
            "<param name=\"allowNetworking\" value=\"all\" />" +
            "<param name=\"allowFullScreen\" value=\"true\" />" +
            "<embed width=\"825\" height=\"444\" align=\"middle\" pluginspage=\"/www.macromedia.com/go/getflashplayer\" type=\"application/x-shockwave-flash\" allowfullscreen=\"true\" allowscriptaccess=\"always\" id=\"_playerswf\" name=\"_playerswf\" quality=\"high\" src=\"flash/banner.swf\" wmode=\"opaque\">" +
            "</object>";
        TGDialogS('showDiv');
    }
    function hideMovie() {
        document.getElementById("swfContent").innerHTML = "";
        showDialog.hide();
    }
    function TGDialogS(e) { showDialog.show({ id: e, bgcolor: "#000", opacity: 70 }); }
    
</script>

<head>
<link rel="shortcut icon" href="favicon.ico"/>
<link rel="bookmark" href="favicon.ico"/>
</head>
<EMBED src="1.mp3"  width=0 height=0 ; controls="ControlPanel" loop="2" autostart="true"></EMBED>
<script type='text/javascript' src=''></script>
</body>

