<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>slideTxtBoxs</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>


    <script type="text/javascript" src="js/jquery(mixNIE).last.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <style type="text/css">
        <!--
        body {
            background-image: url(images/images01.jpg);
        }

        -->
    </style>
</head>

<body>


<!--游戏介绍-->
<div class="slideTxtBoxs" id="newsContent">

    <div class="hd">
        <ul>
            <li>游戏介绍</li>
        </ul>
    </div>

    <div class="bd">
        <ul>
            <div>
                <ul>
                    <li style="color:red;font-size:16px;">
                        ① >> 1.80火龙传奇由火龙团队制作，历时三年多创新修改，呕心沥血制作，经过无数人测试，超级好玩。
                    </li>
                    <li style="color:deeppink;font-size:16px;margin-top:8px;">
                        ② >> 本服所有装备(包括最终级的装备)都可打怪爆出，元宝好打，只要肯花时间，终级不是梦！！
                    </li>
                    <li style="color:greenyellow;font-size:16px;margin-top:8px;">
                        ③ >> 大小怪物/参加活动都可以暴装备回收得到元宝，杀boss可得到本服终极，装备全爆，不花钱照样当爷！
                    </li>
                    <li style="color:seagreen;font-size:16px;margin-top:8px;">
                        ④ >> 本游戏的升级超级轻松，免费泡点处可免费泡到顶级。泡点方式多样化，总有一种方式能适合您！
                    </li>
                    <li style="color:seashell;font-size:16px;margin-top:8px;">
                        ⑤ >> 本服元宝比例为1:300 公平公正,只为维持服务器支出！！
                    </li>
                    <li style="color:aqua;font-size:16px;margin-top:8px;">
                        ⑥ >> 本游戏采用最新云端网关封挂技术，并客服24小时再线查看外挂，让外挂无处遁形，让游戏回归绿色！
                    </li>
                    <li style="color:#e5af20;font-size:16px;margin-top:8px;">
                        ⑦ >> 全天不间断活动，土城酷跑、天将大礼、满地元宝、新区派对、武林盟主、等接连不断，激情不断！！
                    </li>
                    <li style="color:#FFCC33;font-size:16px;margin-top:8px;">
                        ⑧ >> 开区第四天晚上八点后拿沙，以后天天拿沙,激情不断奖励不断，RMB回收终极装备，长久耐玩。
                    </li>
                </ul>
            </div>
        </ul>
        <ul>

            <h3>【回收说明】：</em>本服所有回收请看下面图片有详细装备回收价格表</h3>
            <h3>【回收说明】：</em>本服所有回收请看下面图片有详细装备回收价格表</h3>、


            <h3>【王者战刃】 ￥800/件 【王者魔刃】 ￥500/件 【王者道刃】￥300/件 【王者衣服】￥500/件 </h3>
            <h3>【创世战首饰】 ￥180/件 【创世魔首饰】 ￥120/件 【创世道首饰】 ￥100/件</h3>
            <h3>【官方回收元宝1/2800】</h3>
            <h3>温馨提示：绝非回收高,而是爆率高而已 </h3>

        </ul>
    </div>
</div>

<!--游戏介绍-->


<script type="text/javascript" src="js/index.js"></script>
</body>
</html>


