<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>配套LINK-叶子建站工作室www.yezivi.com定制修改</title>
<link href="linkstyle/link.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="DownloadList">

             <div class="top">
		<ul>
			<li><a href="http://www.yezivi.com" target="_blank">官方网站</a></li>
			<li><a href="http://www.yezivi.com" target="_blank">在线充值</a></li>
			<li><a href="http://www.yezivi.com" target="_blank">补丁下载</a></li>

		</ul>
             </div>

		<span class="clear"></span>

             <div class="main">
                    <div class="title">
                     <h3>标题文字随便写</h3>
                    </div>
                    <div class="info">

                     <p style="color:#0099CC">本服每天开放4个新区 10:00 14:00 19:00 22:00</p>
                     <p style="color:#FFCC33;font-weight:bold">元宝比例：1:300元宝 点卡赠送100% 网银赠送100%</p>
                     <p style="color:#0099CC">官方宗旨：拒绝一切待遇比例、内服、封挂、封速！</p>
                     <p style="color:#03c91f">注册帐号时候一定要把帐号和密码保护设置复杂,问题千万不要纯数字,不要告诉任何人帐号  </p>
                     <p style="color:#993399">合区后相同账号后输入+a.或+b.+c.+d直到尝试成功登录为止！</p>
                     <p style="color:#0099CC;font-weight:bold">我们客服不会主动加任何人为好友，谨防上当受骗</p>
                    </div>
             </div>

           <div class="paypic"><a href="http://www.yezivi.com" target="_blank" ><img src="linkimages/pay.gif" alt="" width="310" height="40" border="0"></a></div>

	</div>
	<!-- DownloadList结束 -->

</body>
</html>
