html, body, div, span, iframe, h1, h2, h3, h4, h5, p, pre, em, img, strong, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote{margin:0;padding:0;}

h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address, caption, cite, code, dfn, em, _em, th, var, optgroup{font-style:inherit;}
ul { list-style: none; }

a { text-decoration: none; cursor: pointer; }

a:hover { text-decoration: none; }

a, button { cursor: pointer; }

.btn_showmovie { cursor:pointerl;text-decoration: none;  list-style: none; border:none}
.btn_showmovie:hover{ border:none}

img{vertical-align:top;border:none; }
ol,ul,li{list-style:none;}
li{float:left;}
table{border-collapse:collapse; }
.clearit{clear:both;*display:inline;}
/*a:focus { -moz-outline-style: none;}*/
.fl{float:left;}
.fr{float:right;}
i,em{font-style:normal;}
/*overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/


/*======游戏介绍===*/
.slideTxtBoxs{ width:820px; text-align:left;height:360px;margin: 0 auto;  float:left;   }
.slideTxtBoxs .hd{ height:50px; line-height:50px;position:relative;}
.slideTxtBoxs .hd ul{height:42px;width:820px;margin:0 auto;border-bottom:1px solid #5E524A;}
.slideTxtBoxs .hd ul li{float:left;cursor:pointer;width:125px;text-align:center;color:#fff;margin-right:5px;line-height: 20px;}
.slideTxtBoxs .hd ul li.on{height:40px;border-bottom:3px solid #A71E18;}
.morer{color:#696969;float:right;background:url(../images/icon.png) 35px 95px;width:48px;font-size:14px;line-height:20px;height:20px;margin-top:12px}
.morer:hover{color:#A71E18}
.slideTxtBoxs .bd{margin:0 auto}
.slideTxtBoxs .bd ul{margin-top:10px;width:820px;height:252px; }
.slideTxtBoxs .bd ul h3{width:820px;height:28px;float:left;margin-bottom:5px; color:#FFF}
.slideTxtBoxs .bd ul h3 a{color:#fff;overflow: hidden;width:820px;height:35px;float:left; text-overflow: ellipsis;white-space: nowrap;}
.slideTxtBoxs .bd li{height:20px;line-height:20px;font-size:12px;color:#fff;width:100%;float:left;margin-bottom: 5px; background:url(../images/icon01.png) no-repeat left;}
.slideTxtBoxs .bd li:hover {background:url(../images/icon02.png) no-repeat left; cursor:pointer }
.slideTxtBoxs .bd li em{float:left;color:#fff;line-height:22px;font-size:12px;height:22px;margin-right: 5px;font-weight:bold; margin-right:20px;}
.slideTxtBoxs .bd li .date{ float:right; color:#fff;font-size: 12px;font-weight:bold}
