{% extends 'news/base.html' %}
{% load news_utils %}

{% block header %}
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/news.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock header %}

{% block body %}

<div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        {% for banner in banners%}
                        <li>
                            <a href="#">
                                <img src="{{ banner.image_url }}" alt="">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab" >
                        <li class="active"><a href="#">最新资讯</a></li>
                    </ul>
                    <ul class="list-inner-group" >
                        {% for value in newses %}
                            <li>
                                <div class="thumbnail-group">
                                    <a href="#">
                                        <img src="{{ value.thumbnail }}" alt="">
                                    </a>
                                </div>
                                <div class="news-group">
                                    <p class="title">
                                        <a href="#">{{ value.title }}</a>
                                    </p>
                                    <p class="desc">
                                        外界关于万达要出售此前在海外投资项目的消息一直不断。
                                    </p>
                                    <p class="more">
                                        <span class="category">{{ value.category.name }}</span>
                                        <span class="pub-time">{{ value.pub_time|time_since }}</span>
                                        <span class="author">{{ value.author.username }}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                        <script id="template_each" type="text/html">
                            {% verbatim %}
                                {{ each newses value num }}

                                    <li>
                                        <div class="thumbnail-group">
                                            <a href="#">
                                                <a href="/news/news_detail/{{ value.id }}"><img src="{{ value.thumbnail }}" alt=""></a>
                                            </a>
                                        </div>
                                        <div class="news-group">
                                            <p class="title">
                                                <a href="/news/news_detail/{{ value.id }}">{{ value.title }}</a>
                                            </p>
                                            <p class="desc">
                                                外界关于万达要出售此前在海外投资项目的消息一直不断。
                                            </p>
                                            <p class="more">
                                                <span class="category">{{ value.category.name }}</span>
                                                <span class="pub-time">{{ value.pub_time|time_since }}</span>
                                                <span class="author">{{ value.author.username }}</span>
                                            </p>
                                        </div>
                                    </li>
                                {{ /each }}
                            {% endverbatim %}
                        </script>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more" id="load-more-btn">查看更多</button>
                    </div>
                </div>
            </div>
{#            侧边栏#}
{#            <div class="sidebar-wrapper">#}
{#                <div class="title-group">#}
{#                    <span class="title">在线课堂</span>#}
{#                    <a class="more" href="#">更多</a>#}
{#                </div>#}
{#                <div class="advertise-group">#}
{#                    <a href="#">#}
{#                        <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="platform-group">#}
{#                    <div class="title-group">#}
{#                        <span class="title">关注小饭桌</span>#}
{#                    </div>#}
{#                    <div class="focus-group">#}
{#                        <ul class="left-group">#}
{#                           <li class="zhihu">#}
{#                               <a href="#" target="_blank">小饭桌创业课堂</a>#}
{#                           </li>#}
{#                            <li class="weibo">#}
{#                               <a href="#" target="_blank">小饭桌创业课堂</a>#}
{#                           </li>#}
{#                            <li class="toutiao">#}
{#                               <a href="#" target="_blank">小饭桌</a>#}
{#                           </li>#}
{#                        </ul>#}
{#                        <div class="right-group">#}
{#                            <p class="desc">扫码关注小饭桌微信公众平台xfz008</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="hot-news-group">#}
{#                    <div class="title-group">#}
{#                        <span class="title">热门推荐</span>#}
{#                    </div>#}
{#                    <ul class="hot-list-group">#}
{#                        <li>#}
{#                            <div class="left-group">#}
{#                                <p class="title">#}
{#                                    <a href="#"></a>#}
{#                                </p>#}
{#                                <p class="more">#}
{#                                    <span class="category">深度报道</span>#}
{#                                    <span class="pub-time">1小时前</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="right-group">#}
{#                                <a href="#">#}
{#                                    <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt="">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}







