{% extends 'party/base.html' %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/sweetalert/sweetalert.css' %}">
    <script src="{% static 'css/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>

<div class="i_box gy">
	<div class="title"><img src="/static/party/images/n_1.png" alt=""/></div>
    <div style="font-size:25px;color:white;">
        <div >时间：2020年1月25日晚(年初一)</div>
        <div>地址：待定</div>
        <div>费用：每人200</div>
        <div>组织人：梁宇进</div>
        <div>手机：13826480251</div>
    </div>

    <div class="gy_m">
    	  <div id="featured-area">
            <ul>
                <li><a href=""><img src="/static/party/upload/pic4.jpg" alt=""/></a></li>
            </ul>
        </div>
        <div class="gy_a"><span>{ 吃饭 }</span></div>
        <div class="gy_b">
            <div class="line">&nbsp;</div>
            <p>多年<br/>你还好吗</p>
        </div>
        <div class="gy_c">
            <div class="gy_cm">喝酒。</div>
        </div>
    </div>
</div>

<div class="jstore clearfix">
    <div class="left">
        <a href="#" class="call-me-in"><img src="{% static 'party/images/call_me_in.png' %}" alt=""></a>
    </div>
    <div class="right">
        <table class="table">
            <thead>
            <tr>
                <th>序列</th>
                <th>姓名</th>
                <th>手机</th>
                <th>备注</th>
                {% if user.username == '林朝欢' %}
                    <th>已收款</th>
                    <th>管理员操作</th>
                {% elif user.username == '梁宇进' %}
                    <th>已收款</th>
                    <th>管理员操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for party in partys %}
            <tr data-id="{{ party.pk }}">
                <td><em class="red">{{ forloop.counter }}</em></td>
                <td><em class="red">{{ party.name }}</em></td>
                <td><em class="red">{{ party.cellphone }}</em></td>
                <td><em class="red">{{ party.memo }}</em></td>
                {% if user.username == '林朝欢' %}
                    <td><em class="red">{{ party.money }}</em></td>
                    <td>
                        <button class="btn delete-partyname">删除</button>
                        <button class="btn edit-partyname">编辑</button>
                    </td>
                {% elif user.username == '梁宇进' %}
                    <td><em class="red">{{ party.money }}</em></td>
                    <td>
                        <button class="btn delete-partyname">删除</button>
                        <button class="btn edit-partyname">编辑</button>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <span style="color:slateblue">共{{ count }}人</span>
    </div>
</div>


<div class="mask-wrapper mask-wrapper2">
    <div class="auth-wrapper">
        <div class="close-wrapper">
            <span class="close-btn icon-close1 iconfont"></span>
        </div>
        <div class="auth-inner-wrapper">
            <div class="scroll-wrapper">
                <div class="signin-group auth-group">
                    <span class="prompt-account">测试</span><br/>
                    <span class="prompt-password"></span>
                    <div class="top-group">
                        <span class="title">请报名</span>
                    </div>
                    <div class="form-group party-memo">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="姓名">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="cellphone" placeholder="手机号码">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="memo" placeholder="备注">
                        </div>
                        <div class="input-group">
                            {% if party %}
                            <input type="submit" class="submit-btn" id="submit-party" value="立即报名">
                            {% else %}
                            <input type="submit" class="submit-btn" id="submit-party" value="立即报名">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{#    编辑#}
<div class="mask-wrapper mask-wrapper3">
    <div class="auth-wrapper">
        <div class="close-wrapper">
            <span class="close-btn icon-close1 iconfont"></span>
        </div>
        <div class="auth-inner-wrapper">
            <div class="scroll-wrapper">
                <div class="signin-group auth-group">
                    <span class="prompt-account">测试</span><br/>
                    <span class="prompt-password"></span>
                    <div class="top-group">
                        <span class="title">编辑</span>
                    </div>
                    <div class="form-group party-memo">
                        <div class="input-group">
                            <label>姓名</label>
                            <input type="text" class="form-control" name="name" placeholder="姓名">
                        </div>
                        <div class="input-group">
                            <label>手机号码</label>
                            <input type="text" class="form-control" name="cellphone" placeholder="手机号码">
                        </div>

                        <div class="input-group">
                            <label>已收款</label>
                            <input type="text" class="form-control" name="money" placeholder="">
                        </div>

                        <div class="input-group">
                            <label>备注</label>
                            <input type="text" class="form-control" name="memo" placeholder="备注">
                        </div>
                        <div class="input-group">
                            <input type="submit" class="submit-btn" id="submit-party-edit" value="立即编辑">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="space_hx">&nbsp;</div>
{#<div class="i_box lx">#}
{#	<div class="title"><img src="/static/party/images/n_5.png" alt=""/></div>#}
{#    <div class="lx_m clearfix">#}
{#    	<a href=""><img src="/static/party/images/icon6.png" alt=""/></a>#}
{#        <p>加盟热线：0755-82369636</p>#}
{#        <div class="if_nav">#}
{#        	<a href="">关于我们</a>#}
{#            <a href="">联系我们</a>#}
{#            <a href="">在线留言</a>#}
{#            <a href="">加入我们</a>#}
{#            <a href="">门店资讯</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% endblock %}